<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Emerald DL4J Data Recorder Suite" parallel="methods">
	<test name="All Tests">
		<packages>
			<package name="com.matthiasrothe.emerald.dl4j.recorder.server"/>
		</packages>
	</test>
</suite>